<div class="row">
  <div class="col-xs-2"><img class="img-thumbnail" src="{{cartItem.imageUrl}}">
  </div>
  <div class="col-xs-4">
    <h4 class="product-name"><strong>{{cartItem.name}}</strong></h4>
    <h4><small>{{cartItem.description}}</small></h4>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-6 text-right">
      <h6><strong>{{cartItem.price | currency:'USD':true}} <span class="text-muted">x</span></strong></h6>
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control input-sm" [(ngModel)]="cartItem.count" (ngModelChange)="notifyItemUpdated()">
      
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-link btn-xs">
        <span class="glyphicon glyphicon-trash"> </span>
      </button>
    </div>
  </div>
</div>